html{
    height: 100%;
}
body{
    height: 100%;
}
.homeBox{
    height: 100%;
    background: url('../image/register/yd_register_bg.jpg') no-repeat center;
    background-size: cover; 
}
.homeBox .homeBox_ydTop{
    background: none;
}
.homeBox_ydTop_more .ydTop_more_box{
    z-index: 2;
}

.register_con{
    width: 6.12rem;
    height: 7.98rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.08rem;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -3.06rem;
    margin-top: -3.99rem;
}
.register_con_logo{
    width: 100%;
    height: 1.1rem;
    margin-top: 0.56rem;
    background: url('../image/logo.png') no-repeat center;
    background-size: 1.76rem 1.1rem; 
}
.register_con_li{
    width: 5.04rem;
    height: 0.8rem;
    margin: 0.25rem auto 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.06rem;
}
.first_li{
    margin: 0.76rem auto 0;
    background-color: #ffffff;
}
.register_con_li p{
    width: 0.7rem;
    height: 0.8rem;
    float: left;
}
.first_li p{
    background: url('../image/register/register_mobile.png') no-repeat center;
    background-size: 0.23rem 0.25rem; 
}
.second_li p{
    background: url('../image/register/register_pwd.png') no-repeat center;
    background-size: 0.21rem 0.29rem; 
}
.register_con_li input{
    float: right;
    width: 4.34rem;
    height: 0.8rem;
    background: none;
    border: 0;
    outline: none;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.8rem;
}
.register_con_btn{
    width: 5.02rem;
    height: 0.58rem;
    border: 1px solid #ffffff;
    background-color: #000000;
    border-radius: 20px;
    margin: 0.48rem auto 0;
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.58rem;
}
.register_con_link{
    width: 5.04rem;
    height: 0.3rem;
    margin: 0.18rem auto 0;
}
.register_con_link a{
    float: right;
    font-size: 0.24rem;
    color: #333333;
    line-height: 0.3rem;
}